@charset "utf-8";
/* CSS Document */
body,div,h1,h2,h3,h4,h5,h6,p,ul,li,p,input,a,img,dd,dt,dl{margin:0; padding:0;}
li{list-style:none;}
a{text-decoration: none; color:#666;}
img{ border:0; display:block;}
input,button{ border:0; outline: none;}
body{font-size: 12px; font-family:"微软雅黑" ; color:#666;}
.clear{ clear:both;}
.inner{ width:1226px; margin: 0 auto;}
i{ font-style: normal;}
.clearfix:after { content:''; display:block; clear:both;}
.fr{float:right;}
.fl{float: left;}

